@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --color-primary: #e0f2fe;
  --color-primary-light: #0369a1;
  --color-secondary: #7a581d;
  --color-accent: #0ea5e9;
  --color-background: #f0f9ff;
  --color-background-alt: #e0f2fe;
  --color-text-primary: #082f49;
  --color-text-secondary: #0c4a6e;
  --hero: #0c4a6e;
}

:root.dark {
  --color-primary: #102134;
  --color-primary-light: #1a293f;
  --color-secondary: #896f3d;
  --color-accent: #404751;
  --color-background: #0b1626;
  --color-background-alt: #1a293f;
  --color-text-primary: #f8fbff;
  --color-text-secondary: #afcbff;
  --hero: #afcbff80;
}

/* ------------------------- Start Of Scrollbar Styles ------------------------- */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
/* ------------------------- End Of Scrollbar Styles ------------------------- */

/* :root {
  --color-primary: #f0f9ff;
  --color-primary-light: #0284c7;
  --color-secondary: #e0f2fe;
  --color-accent: #38bdf8;
  --color-background: #ffffff;
  --color-background-alt: #f8fafc;
  --color-text-primary: #0c4a6e;
  --color-text-secondary: #475569;
  --hero: #0369a1;
}


:root.dark {
  --color-primary: #041420;
  --color-primary-light: #0a2540;
  --color-secondary: #7dd3fc;
  --color-accent: #0ea5e9;
  --color-background: #020617;
  --color-background-alt: #0f1729;
  --color-text-primary: #f0f9ff;
  --color-text-secondary: #bae6fd;
  --hero: #38bdf880;
} */
